.heading{
    color: #1D252D;
    text-align: center;
    font-size: calc(24rem/16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: calc(12rem/16);
}
.container{
    padding: 1rem 0;
}
.logo{
    width: 1rem;
    height: 1rem;
    position: relative;
    display: block;
}
.pointWrapper{
    display: flex;
    align-items: center;
    gap:0.56rem;
    margin-bottom: 0.85rem;
}
.pointWrapper>div{
    color: #414548;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
@media screen and (min-width:1024px) {
    .heading{
        font-size: 1.4rem;
        margin-bottom: 1.8rem;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    .pointWrapper>div{
        font-size: 1rem;
    }
    .container{
        padding: 0.5rem 0;
    }
}