.mainWrapper{
    padding-top: 1.19rem;
    padding-bottom: 0.87rem;
    background: #F5F9FE;
}
.logoWrapper{
    width: 9.48213rem;
    height: 2.625rem;
    position: relative;
    display: block;
    cursor: pointer;
}
.offering>h1{
    color: #1D252D;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0.88rem;
    margin-bottom: 0.75rem;
}
.offering>p{
    color: #1D252D;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3rem;
}
.socialFollow>div>h1{
    color: #1D252D;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 1.5rem;
}
.socialIcon{
    width: var(--20, 1.25rem);
    height: var(--20, 1.25rem);
    display: block;
    position: relative;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}
.socialIcon:hover{
    transform: translatey(-0.2rem);
}
.iconWrapper{
    display: flex;
    gap:0.58rem;
    margin-top: 0.69rem;
}
.footerBtns{
    display: flex;
    gap: 0.4rem;
    margin-top: 1.12rem;
}
.footerBtnText{
    color: #1D252D;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    cursor: pointer;
}
.footerBtns>p:nth-child(6){
    display: none;
}
@media screen and (min-width:1024px) {
    .mainWrapper{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    .logoWrapper{
        width: 10rem;
        height: 2.6822rem;
        border-radius: 0.1rem;
        border: 1px solid rgba(42, 40, 156, 0.80);
    }
    .offering>h1{
        font-weight: 700;
        font-size: 1rem;
        font-style: normal;
    }
    .offering>p{
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 500;
    }
    .socialFollow>div>h1{
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 600;
    }
    .iconWrapper{
        margin-top: 0.95rem;
    }
    .offeringsAndSocialIcons{
        width:50%;
    }
    .socialFollow{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}