.mainWrapper{
    padding: 2.4375rem 1rem 0 1rem;
}
.mainWrapper>h2{
    color: #1D252D;
    text-align: center;
    font-size: calc(22rem/16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mainWrapper>h2:last-child{
    color: #1B49EA;
    text-align: center;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: calc(11rem/16);
    cursor: pointer;
}
.tableWrapper div:nth-child(5)>p{
    color: #FF2231;
}

@media screen and (min-width:1024px){
    .mainWrapper{
        padding: 2.3rem 8.5rem 0 8.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mainWrapper>h2{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .mainWrapper>h2:last-child{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .mainWrapper>h2:last-child{
        font-size: 1rem;
        font-weight: 500;
    }
}