.mainWrapper{
    padding: 2.4375rem 1rem 0 1rem;
}
.mainWrapper>h1{
    color: #1D252D;
    text-align: center;
    font-size: calc(22rem/16);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mainWrapper>h1:last-child{
    color: #1B49EA;
    text-align: center;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: calc(11rem/16);
    cursor: pointer;
}
.row{
    display: flex;
    vertical-align: middle;
    border-top: 0.9px solid #1D252D;
}
.overviewTable{
    border: 0.9px solid #1D252D;
    border-radius: 8px;
    overflow: hidden;
    margin-top: calc(31rem/16);
}
.overviewTable>div:first-child{
    border-top: unset;
}
.overviewTable div:nth-child(even){
    background-color: #F8F9FF ;
}
.row>p{
    width: 50%;
    padding: 0.69rem 1.4rem;
    color: #4B4B4B;
    font-size: calc(11.714rem/16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.row>p:first-child{
    border-right: 0.9px solid #1D252D;
}
.overviewTable div:nth-child(5)>p{
    color: #FF2231;
}
.overviewTable>div:hover{
    background-color: #eceffd ;
}

@media screen and (min-width:1024px){
    .mainWrapper{
        padding: 2.3rem 8.5rem 0 8.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mainWrapper>h1{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .overviewTable{
        margin-top: 2rem;
        width: 65%;
        margin-bottom: 1.4rem;
        border: 1px solid #1D252D;
    }
    .row>p{
        font-size: 0.95rem;
        font-weight: 400;
        padding: 0.7rem 0 0.7rem 3rem;
        color:rgba(29, 37, 45, 1);
        font-family: Inter;
    }
    .mainWrapper>h1:last-child{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .row{
        border-top: 1px solid #1D252D;
    }
    .row>p:first-child{
        border-right: 1px solid #1D252D;
    }
    .mainWrapper>h1:last-child{
        font-size: 1rem;
        font-weight: 500;
    }
}