.whatsappBtnConatiner{
    display: none;
}
.mainWrapper{
    display: flex;
    align-items: center;
    height: 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    padding-left: 1rem;
}
.logoWrapper{
    display: block;
    position: relative;
    width: 3rem;
    height: 3rem;
}
.logoAndTextWrapper{
    display: flex;
    gap: 0.15rem;
    align-items: center;
    cursor: pointer;
}
.jeeBookText>p:nth-child(1){
    color: #fff;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.jeeBookText>p:nth-child(2){
    color: #fff;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media screen and (min-width: 1024px) {
    .imgWrapper{
        width: 10.6rem;
        height: 3.9rem;
    }
    .mainWrapper{
        height: 4.8rem;
        display: flex;
        justify-content: space-between;
        padding: 0 8.5rem 0 8.5rem;
        align-items: center;
    }
    .whatsappImageContainer{
        width: 1.35rem;
        height: 1.35rem;
        /* border: red 1px solid; */
    }
    .whatsappBtnConatiner{
        width: 12.3rem;
        height: 2.5rem;
        fill: #2AB318;
        background-color: #2AB318;
        padding: 0.5rem 0.9rem 0.5rem 0.75rem;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        cursor: pointer;
    }
    .whatsappBtnConatiner:hover{
        background-color: #218a13;
    }
    .whatsappBtnConatiner > p {
        color: #FFF;
        text-align: center;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
    }
    .logoWrapper{
        width: 3.3rem;
        height: 3.1rem;    
    }
    .logoAndTextWrapper{
        gap: 0.30rem;
    }
    .jeeBookText>p:nth-child(1){
        font-size: 1.0578rem;
    }
    .jeeBookText>p:nth-child(2){
        font-size: 0.60445rem;
    }
}