.imgWrapper{
    position: relative;
    display: block;
    width: 8.056rem;
    height: 2.635rem;
    cursor: pointer;
}
@media screen and (min-width: 1024px) {
    .imgWrapper{
        width: 10.6rem;
        height: 3.6rem;
    }
    .mainWrapper{
        padding-left: 8.15rem;
    }
}