
.header{
    background: #2A289C;
    padding: 0.5rem 0 0.5rem 1.12rem;
}
.logo{
    width: 8.05606rem;
    height: 2.625rem;
}
.backNavigate{
    color: #2A289C;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0.87rem;
    cursor: pointer;
}
.mainImage{
    height: 12rem;
    width: 100%;
    margin-top: 0.69rem;
    border-radius: 5px;
    position: relative;
    display: block;
    overflow: hidden;
    background-repeat: round;
    background-size: cover;
}
.rightbtn{
    position: absolute;
    top:11.25rem;
    right:1.875rem;
    display: block;
    width: var(--20, 1.25rem);
    height: var(--20, 1.25rem); 
    cursor: pointer;
}
.leftBtn{
    position: absolute;
    top:11.25rem;
    left:1.875rem;
    display: block;
    width: var(--20, 1.25rem);
    height: var(--20, 1.25rem); 
    cursor: pointer;
}
.dot{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 10px;
    background-color: rgb(126, 125, 125);
    top:17.5rem;
    left:1.25rem;
}
.btnsWrapper{
    display: flex;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
.campusImg{
    width: 8rem;
    height: 7rem;
    border-radius: 6px;
    position: relative;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.campusImg:hover{
    transform: translateY(-0.8rem);
}
.campusImageWrapper{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    margin-top: 1rem;
    justify-content: space-between;
}
.imagesContainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-column-gap: 0.5rem;
    margin-top: 1rem;
}
.image{
    position: relative;
    display: block;
    margin-bottom: 0.7rem;
    transition: transform 0.4s ease;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
}
.image:hover{
    transform: translateY(-0.3rem);
    z-index: 2;
}
@media screen and (min-width:1024px) {
    .logo{
        width: 10rem;
        height: 3rem;
    }
    .header{
        padding: 0.7rem 0 0.6rem 5rem;
    }
    .mainImage{
        width: 100%;
        height: 30.4rem;
        position: relative;
    }
    .btnsWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    .rightbtn{
        width: 2rem;
        height: 2rem;
        top:20rem;
        right: 7rem;
    }
    .leftBtn{
        width: 2rem;
        height: 2rem;
        top:20rem;
        left: 7rem;
    }
    .campusImg{
        width: 29rem;
        height: 17rem;
    }
    .mainWrapper{
        padding: 0rem 6rem 2rem 6rem;
    }
    .imagesContainer{
        grid-column-gap: 0.8rem;
        margin-top: 1rem;
    }
    .image{
        margin-bottom: 0.9rem;
    }
}