
.header{
    background: #2A289C;
    padding: 0.5rem 0 0.5rem 1.12rem;
}
.logo{
    width: 8.05606rem;
    height: 2.625rem;
}
.backNavigate{
    color: #2A289C;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0.87rem;
    cursor: pointer;
}
.mainImage{
    height: 12rem;
    width: 100%;
    margin-top: 0.69rem;
    border-radius: 5px;
    position: relative;
    display: block;
    overflow: hidden;
    background-repeat: round;
    background-size: cover;
}
.rightbtn{
    position: absolute;
    display: block;
    width: var(--20, 1.25rem);
    height: var(--20, 1.25rem); 
    cursor: pointer;
    right: 0.6rem;
}
.leftBtn{
    position: absolute;
    display: block;
    width: var(--20, 1.25rem);
    height: var(--20, 1.25rem); 
    cursor: pointer;
}
.dot{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 10px;
    background-color: rgb(126, 125, 125);
    top:17.5rem;
    left:1.25rem;
}
.btnsWrapper{
    display: flex;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
.campusImg{
    width: 8rem;
    height: 7rem;
    border-radius: 6px;
    position: relative;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.campusImg:hover{
    transform: translateY(-0.8rem);
}
.campusImageWrapper{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    margin-top: 1rem;
    justify-content: space-between;
}
.imagesContainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-column-gap: 0.5rem;
    margin-top: 1rem;
}
.image{
    position: relative;
    display: block;
    margin-bottom: 0.7rem;
    transition: transform 0.4s ease;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
}
.image:hover{
    transform: translateY(-0.3rem);
    z-index: 2;
}
.collegeDetailsConatiner{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.collegeWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-top: -0.7rem;
}
.collegeLogo{
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    margin-bottom: 0.31rem;
    display: flex;
    justify-content: center;
}
.collegeName{
    padding: 0 1.7rem;
    color: #363D43;
    text-align: center;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.mainWrapper{
    padding-top: 5rem;
}
.navigateBtnsWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.backNavigate{
    background-color: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.backNavigate>p{
    color: #2A289C;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.arrow{
    font-size: 0.5rem;
    color: #2A289C;
    margin-left: 0.4rem;
}
.subHeading{
    margin-top: 1.25rem;
    color: #1D252D;
    text-align: center;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
}
@media screen and (min-width:1024px) {
    .logo{
        width: 10rem;
        height: 3rem;
    }
    .header{
        padding: 0.7rem 6.4rem 0.6rem 5rem;
    }
    .mainImage{
        width: 100%;
        height: 30.4rem;
        position: relative;
    }
    .btnsWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    .rightbtn{
        width: 2rem;
        height: 2rem;
    }
    .leftBtn{
        width: 2rem;
        height: 2rem;
    }
    .campusImg{
        width: 29rem;
        height: 17rem;
    }
    .mainWrapper{
        padding: 5.5rem 6rem 2rem 6rem;
    }
    .imagesContainer{
        grid-column-gap: 0.8rem;
        margin-top: 1rem;
    }
    .image{
        margin-bottom: 0.9rem;
    }
    .collegeWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -0.7rem;
    }
    .collegeLogo{
        width: 6rem;
        height: 6rem;
        margin-bottom: 1.68rem;
    }
    .collegeName{
        font-size: 2.2rem;
        font-weight: 700;
        width: 44.2rem;
    }
    .backNavigate{
        font-size: 1.2rem;
        font-weight: 400;
    }
    .arrow{
        font-size: 1rem;
        margin-right: 0.2rem;
    }
    .subHeading{
        margin-top: 1.8rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.41667rem; 
    }
    .collegeDetailsConatiner{
        margin-bottom: 2.9rem;
    }
}