.heading{
    color: #1D252D;
    text-align: center;
    font-size: calc(24rem/16);
    font-style: normal;
    font-weight: 600;
    line-height: calc(36rem/16); 
    margin: 0;
    padding: 0;
    margin-top: calc(42rem/16);
    padding: 0 1rem;
}
.line{
    opacity: 0.5;
}
.connectivityBox{
    border-radius: 6px;
    border: 1px solid #000;
    background: #FFF;
    padding: 0.75rem 0.875rem 0.875rem 0.75rem;
    margin-bottom: 1.05rem;
    height: 9.0625rem;
    overflow: auto;
}
.logo{
    min-width: calc(75rem/16);
    height: calc(75rem/16);
    position: relative;
    display: block;
    position: sticky;
    top:1rem;
}
.connectivityDetails{
    background-color: #E5EBFD;
    padding: 1rem;
    border-radius: 6px;
    display: flex;
    gap:calc(10rem/16);
    
}
.connectivityDetails>div>p{
    color: #4B4B4B;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: calc(26rem/16); 
}
.textBlock>p>span{
    display: block;
    color: #1A35C8;
    font-weight: 500;
    margin-top: 0.5rem;
}

.conectivityWrapper{
    padding: 2.1875rem 1rem 3rem 1rem;
    cursor: pointer;
}
.textBlock{
    overflow: auto;
}
@media screen and (min-width:1024px) {
    .heading{
        margin-top: 3rem;
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }
    .conectivityWrapper{
        padding: 2.3rem 8.5rem 3rem 8.5rem;
        display: flex;
        gap:1.8rem;
    }
    .conectivityWrapper>:first-child{
        flex-shrink: 0;
    }
    .connectivityBox{
        flex: 1;
        flex-shrink: 0;
        width: 18rem;
        height: 19rem;
        overflow: auto;
        position: relative;
        transition: transform 0.4s ease, box-shadow 0.4s ease;
    }
    .connectivityDetails{
        flex-direction: column ;
        height: 100%;
        padding: 1rem 1rem 0.4rem 1rem;
    }
    .logo{
        min-width: calc(99rem/20);
        height: calc(120rem/20);
        min-height: 35%;
        max-height: 40%;
    }
    .connectivityDetails>div>p{
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem;
    }
    .connectivityDetails>p>span{
        font-size: 1rem;
    }
    .connectivityBox:hover{
        transform: translateY(-0.6rem);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}